@font-face {
    font-family: "NorseBold";
    src:
      url("fonts/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    display: flex;
    background-color: #f9fafb;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

.section-container {
    display: flex;
}

#section h1 {
    font-size: 24px;
}

#section {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 2px -2px lightgray;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.form-row label {
    color: rgb(69, 69, 69);
}

.col {
    margin-right: 40px;
}

.btn {
    margin-top: 40px;
}

.service-info {
    margin-top: 80px;
    margin-bottom: 40px;
    width: 60%;
    font-weight: bold;
}

#section, .service-info, .btn-container {
    padding-left: 40px;
}

button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #68b0b6;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #68b0b6;
}

.bg-img {
    position: relative;
}

.bg {
    height: 100vh;
    min-width: 100%;
    z-index: -1;
}

.logo-container {
    position: absolute;
    width: 100%;
    background: rgba(3, 3, 3, 0.5);
    top: 13rem;
    display: flex;
    justify-content: center;
}

.logo-container h1 {
    align-content: center;
    color: white;
    font-family: "NorseBold";
    font-size: 48px;
}

.logo {
    width: 30%;
}

.form-row input:focus {
    outline: none;
    border: 1px solid rgb(103, 103, 255);
    padding: 2px;
}

.form-row input[type='email']:focus:invalid,
.form-row input[type='tel']:focus:invalid,
.form-row input[type='password']:focus:invalid {
    border: 1px solid #D55C5F;
    box-shadow: none; /* Remove default red glow in Firefox */
}

.form-row input[type='password']:focus:valid {
    border: 1px solid green;
    box-shadow: none;
}